<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title th:text="#{entity.product}"></title>

</head>
<body>
<div class="layui-fluid" layout:fragment="content">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this" th:text="#{entity.product}"></li>
            <button style="float:right;" type="button" class="layui-btn"
                    onclick="history.back(); return false;" th:text="#{common.btn.back}">
            </button>
        </ul>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <div th:object="${bean}">
                <input type="hidden" th:value="${categoryId}" id="categoryId">
                <input type="hidden" th:field="*{id}">
                <div class="layui-row layui-col-space30">
                    <div class="layui-col-md4">
                        <div>
                            <img th:src="*{productPictureUrl}" class="product-picture">
                        </div>
                    </div>
                    <div class="layui-col-md8">
                        <div class="layui-form layui-form-pane" action="" lay-filter="component-form-element">
                            <div class="layui-form-item">
                                <label class="layui-form-label" th:text="#{product.name}"></label>
                                <div class="layui-input-block">
                                    <input type="text" th:field="*{name}" readonly class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label" th:text="#{product.description}"></label>
                                <div class="layui-input-block">
                                    <textarea placeholder="" th:field="*{description}" readonly
                                              class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label" th:text="#{product.formula}"></label>
                                <div class="layui-input-block">
                                    <textarea placeholder="" th:field="*{formula}" readonly
                                              class="layui-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--图片-->
    <div class="layui-card">
        <div class="layui-card-header">
            <span th:text="#{material.pictureMaterial}"></span>
            <button type="button" class="layui-btn layui-btn-sm pane-right-button"
                    th:text="#{common.btn.more}" id="pictureMaterial"
                    th:style="${pictureList.size() == 6} ? '' : 'display:none'">
                <i class="layui-icon">&#xe67c;</i>
            </button>
        </div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space25 content-list">
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item" th:each="item : ${pictureList}">
                    <a href="javascript:;" th:onclick="materialDetail([[${item.id}]],[[${item.type}]])">
                        <p class="content-title" th:text="${item.name}">
                        </p>
                        <p class="content-img">
                            <img th:src="${item.showPictureUrl}"/>
                        </p>
                        <p class="content-desc" th:text="${item.description}">
                        </p>
                        <p class="content-date" th:text="${#dates.format(item.createDate, 'yyyy-MM-dd')}">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--视频-->
    <div class="layui-card">
        <div class="layui-card-header">
            <span th:text="#{material.videoMaterial}"></span>
            <button type="button" class="layui-btn layui-btn-sm pane-right-button"
                    th:text="#{common.btn.more}" id="videoMaterial"
                    th:style="${videoList.size() == 6} ? '' : 'display:none'">
                <i class="layui-icon">&#xe67c;</i>
            </button>
        </div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space25 content-list">
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item" th:each="item : ${videoList}">
                    <a href="javascript:;" th:onclick="materialDetail([[${item.id}]],[[${item.type}]])">
                        <p class="content-title" th:text="${item.name}">
                        </p>
                        <p class="content-img">
                            <img th:src="${item.showPictureUrl}"/>
                        </p>
                        <p class="content-desc" th:text="${item.description}">
                        </p>
                        <p class="content-date" th:text="${#dates.format(item.createDate, 'yyyy-MM-dd')}">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--话术-->
    <div class="layui-card">
        <div class="layui-card-header">
            <span th:text="#{material.textMaterial}"></span>
            <button type="button" class="layui-btn layui-btn-sm pane-right-button"
                    th:text="#{common.btn.more}"  id="textMaterial"
                    th:style="${textList.size() == 6} ? '' : 'display:none'">
                <i class="layui-icon">&#xe67c;</i>
            </button>
        </div>
        <div class="layui-card-body">
            <div class="layui-row layui-col-space25 content-list">
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item" th:each="item : ${textList}">
                    <a href="javascript:;" th:onclick="materialDetail([[${item.id}]],[[${item.type}]])">
                        <p class="content-title" th:text="${item.name}">
                        </p>
                        <p class="content-date" th:text="${#dates.format(item.createDate, 'yyyy-MM-dd')}">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" layout:fragment="custom-script" th:inline="javascript">
    var categoryId = $('#categoryId').val();
    var productId = $('#id').val();
    $('#pictureMaterial').click(function () {
        window.location.href = '/material/list?productId=' + productId + '&type=' + 1
    })
    $('#videoMaterial').click(function () {
        window.location.href = '/material/list?productId=' + productId + '&type=' + 2
    })
    $('#textMaterial').click(function () {
        window.location.href = '/material/list?productId=' + productId + '&type=' + 3
    })
    function materialDetail(id,type) {
        layer.open({
            type: 2 //Page层类型
            , area:['850px','500px']
            , title: false
            , shade: 0.6 //遮罩透明度
            , anim: -1 //0-6的动画形式，-1不开启
            , content: '/material/detail?id=' + id+'&type'+type
        });
    }
</script>
</body>
</html>