<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maitianer.demo.biz.mapper.ProductMapper">


    <select id="pageData" resultType="ProductDTO">
        SELECT p.*
        FROM t_product p
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>