<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>演示内容列表</title>

    <style>
    </style>

    <script id="contentItem" type="text/html">
        <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
            <div class="layui-card layui-card-body">
                <p class="content-title">
                    测试图片素材
                </p>
                <p class="content-img">
                    <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                </p>
                <p class="content-desc">
                    测试描述
                </p>
                <p class="content-date">
                    2019.06.06
                </p>
            </div>
        </div>
    </script>
</head>
<body>
<div class="layui-fluid" layout:fragment="content">
    <p style="margin-bottom: 10px">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">品牌</a>
            <a><cite>保时捷</cite></a>
        </span>
    </p>

    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">话术</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-row layui-col-space25 content-list" id="contentList">
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>

                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
                <div class="layui-col-md2 layui-col-sm3 layui-col-xs6 content-item">
                    <div class="layui-card layui-card-body">
                        <p class="content-title">
                            测试图片素材
                        </p>
                        <p class="content-img">
                            <img src="http://s14.sinaimg.cn/mw690/001Rpv3lty6Yp9Q5WUdbd&690"/>
                        </p>
                        <p class="content-desc">
                            测试描述
                        </p>
                        <p class="content-date">
                            2019.06.06
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" layout:fragment="custom-script" th:inline="javascript">
    layui.use(['flow', 'laytpl'], function(){
        var laytpl = layui.laytpl;
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;

        var itemTpl = document.getElementById('contentItem').innerHTML;

        flow.load({
            elem: '#contentList' //指定列表容器
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var data = [{id:1}, {id: 2}, {id: 3}, {id: 5}, {id: 5}, {id: 6}]; // mock
                var lis = [];
                setTimeout(function() {
                    //假设你的列表返回在data集合中
                    layui.each(data, function(index, item){
                        lis.push(laytpl(itemTpl).render(item));
                    });

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < 3);
                }, 1000);
            }
        });
    });
</script>
</body>
</html>